<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="{{site.profile_picture}}">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">
            <a aria-label="BlueIris" title="BlueIris" href="http://sec.gsa.ink:10069/">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <a aria-label="ESXi" title="ESXi" target="_blank" href="http://esxi.gsa.ink/">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>

            <a aria-label="Unifi" title="Unifi" target="_blank" href="http://unifi.gsa.ink/">
                <svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
            </a>
            
        </div>

    </div>
    {% include menu-search.html %}
</header>
